.parallax-home {
	padding-top: 200px; 
	padding-bottom: 200px; 
	overflow: hidden; 
	position: relative; 
	width: 100%; 
	background-image: url("../_imagens/bg-sobre.png"); 
	background-attachment: fixed; 
	background-size: cover; 
	-moz-background-size: cover; 
	-webkit-background-size: cover; 
	background-repeat: no-repeat; 
	background-position: top;
}